.nav1{
    display: none;
}
.nav2{
    display: block;
}
.header>.header-bottom{
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}
.main>.main-top>div i{
    background: url('../images/vivo-banner-title1-mini.png');
    width: 200px;
    height: 30px;
}
.main>.main-top>div i:nth-child(2){
    background: url('../images/vivo-banner-title2-mini.png');
}
.main>.main-top>div i:nth-child(3){
    background: url('../images/vivo-banner-title3-mini.png');
}
.main>.main-top>div p{
    width: 100%;
    margin-top: 30px;
}
.main>.main-bottom{
    flex-wrap: wrap;
    margin-top: 0;
}
.main>.main-bottom>div{
    width: 50%;
    flex: none;
    margin-top: 5px;
}
.footer>.footer-in{
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}
.fl{
    float: none;
    width: 100%;
    margin-right: 30%;
}
.footer-in>.footer-top{
    width: 100%;
    display: flex;
    flex: 1;
}
.footer-in>.footer-top>.footer-top-left{
    width: 100%;
    margin-right: 10%;
}